<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PayRoll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/employee1" routerLinkActive="active"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a routerLink="/employee" routerLinkActive="active"  role="button" class="btn btn-dark mb-3 p-2" >view</a></li>
            <li><a routerLink="/update" class="btn btn-light mb-3 p-2">Update</a></li>
            <li><a routerLink="/delete" routerLinkActive="active" role="button" class="btn btn-dark mb-3 p-2">Delete</a></li>
          </ul>
        </li>
        <li><a routerLink="/home" routerLinkActive="active" role="button" class="btn btn-dark mb-3 p-2">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
